* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  /* font-weight: bold; */
}

article a:link {
  display: inline;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #e0dbdb;
  padding: 15px;
}
.product-description {
  margin-top: 10px;
  margin-bottom: 10px;
}
.image {
  /* float: left; */
  /* margin-right: 40px; */
}
/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
  display: inline-block;
  /* align-items: center; */
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  /* float: right; */
  /* margin-top: 10px; */
  /* align-items: center; */
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  /* margin-top: 5px; */
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

/* Sale */
.sale {
  position: absolute;
  background-color: #ff0000;
  top: -18px;
  left: -35px;
  color: #f7f7f7;
  padding: 5px 14px;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

/* Color cubes */

.black {
  background-color: #000;
  width: 22px;
  height: 22px;
  margin-left: 0;
}
.blue {
  background-color: #00f;
  width: 22px;
  height: 22px;
}
.red {
  background-color: #f00;
  width: 22px;
  height: 22px;
}
.yellow {
  background-color: #fff000;
  width: 22px;
  height: 22px;
}
.green {
  background-color: #0a0;
  width: 22px;
  height: 22px;
}
.brown {
  background-color: #400;
  width: 22px;
  height: 22px;
}

.color {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

/*
/* .container {
  display: flex;
  gap: 40px;
} */

/* .box1 {
  margin-top: 10px;
  flex: 1;
} */

/* .box2 {
  flex: 1;
  margin-top: 10px;
} */
/* .price-shipping {
  margin-top: 10px;
} */

.more-info:link {
  margin-top: 10px;
}
/* boxes */
/* .box1 {
  float: left;
  width: 243px;
  margin-right: 40px;
  margin-top: 20px;
}

.box2 {
  float: left;
  width: 243px;
  margin-top: 20px;
} */

/* .clear-fix {
  content: "";
  display: block;
  clear: both;
} */

.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.colorcube {
  display: flex;
  margin-top: 20px;
}

/* Grids */
.product {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
  align-items: start;
}
h2 {
  grid-column: 1/-1;
}
button {
  grid-column: 1/-1;
}
.box1,
.box2 {
  /* margin-top: 20px; */
  align-self: center;
}
